<div class="con-search">
    <form method="POST" action="/edit" class="search-form">
        <input type="text" class="input-search" name="search" value="{{search}}" placeholder="Поиск">
        <button type="submit" class="start-search"></button>
    </form>
    <div class="row">
        {{#if device}}
            {{#each device}}
                <div class="col">
                    <div class="device-box">
                        <form onsubmit="return shure()" action="/edit/delete" method="post" class="delete">
                            <input type="text" name="_id" value="{{_id}}" hidden>
                            <button type="submit" class="close" style="color: white; margin-top: -.5rem" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </form>
                        <form action="/edit" method="post">
                            <input type="text" class="input-name" name="name" value="{{name}}">
                            <hr>
                            <textarea name="about" class="textarea-about" cols="35" rows="10">{{about}}</textarea>
                            <input type="text" class="input-type" name="type" value="{{type}}">
                            <button type="submit" class="save-edit">Save</button> 
                            <input type="text" name="_id" value="{{_id}}" hidden>  
                        </form> 
                    </div>
                </div>
            {{/each}}
        {{else}}
        <div class="col">
            <div class="device-box">
                <h2>Ошибка.</h2>
                <hr>
                <div class="scroll-about">
                    <code class="red">По вашему запросу ничего не найдено.</code>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="col">
            <div class="new-device-box" id="new_span">
                <span class="creat-new" onclick="close()">+</span>
            </div>
            <div class="device-box" id="new_form" style="display: none">
                <form action="/edit" method="post">
                    <input type="text" class="input-name" name="name" value="{{name}}" placeholder="Название">
                    <hr>
                    <textarea name="about" class="textarea-about" cols="35" rows="10" placeholder="Информация">{{about}}</textarea>
                    <input type="text" class="input-type" name="type" value="{{type}}" placeholder="Тип">
                    <button type="submit" class="save-edit">Add</button>    
                </form>
            </div>
        </div>
    </div>
</div> 

<script>
$("#new_span").click(function(){
    $('#new_span').hide();
    $('#new_form').show();
});
function shure() {
    return confirm("Вы уверены?")  
}
</script>