<div class="con">
    <div class="row">
        <div class="col">
            <div class="user-box">
                <h2>Профиль</h2>
                <hr>
                {{#if user}}
                    <h6>ID: {{user._id}}</h6>
                    <h6>Логин: {{user.login}}</h6>
                    <h6>Инфо: {{user.about}}</h6>
                    <h6>Мыло: {{user.email}}</h6>
                    <h6>Тел: {{user.phone}}</h6>
                    <div style="margin: 1rem; text-align: center;" >
                        <input type="text" class="input-code" value="{{user.code}}" disabled><br><br>
                        <a href="https://api.qrserver.com/v1/create-qr-code/?size=190x190&data={{user.code}}&download=true" target="_blank" rel="noopener noreferrer" download><img src="https://api.qrserver.com/v1/create-qr-code/?size=190x190&amp;data={{user.code}}&bgcolor=0-200-0&color=7-7-27"></a>
                    </div>
                {{else}}
                <h6>Error</h6>
                {{/if}}
            </div>
        </div>
        <div class="col">
            <div class="info-box">
                <h2>У вас на руках</h2>
                <hr>
                {{#if have}}                    
                    {{#each have}}
                        <code class="info-text">{   
    Наименование: <code class="green">{{name}}</code>
    Код: <code class="green">{{code}}</code>
    Аудитория: <code class="green">{{auditory}}</code>
}
</code>
                    {{/each}}
                {{else}}
                    <a href="/search"><code>LOG:</code>
                    <code>Вы ещё ничего не получали</code>
                    <code>перейти к поиску...</code></a>
                {{/if}}
            </div>
        </div>
        {{#if myLk}}
        <div class="col">
            <div class="info-box">
                {{#if uidAddRender}}
                    <h2>Привязать акаунт</h2>
                    <hr>
                    <div id="uLogin" data-ulogin="display=panel;
                    theme=flat;fields=first_name,last_name;providers={{#if user.vk_uid}}{{else}}vkontakte{{/if}},{{#if user.ya_uid}}{{else}}yandex{{/if}},{{#if user.google_uid}}{{else}}google{{/if}};
                    hidden=;redirect_uri=https%3A%2F%2Fadas-tusur.herokuapp.com%2Fapi%2Fauth;mobilebuttons=0;"></div>
                    {{#if uidDelRender}}
                    <hr>
                    {{/if}}
                {{/if}}                
                {{#if uidDelRender}}
                    <h2>Уже привязанны:</h2>
                    <hr>
                    {{#if user.vk_uid}}
                    <a href="/api/delete/{{user.vk_uid}}">VK (отвязать)</a>
                    {{/if}}
                    {{#if user.ya_uid}}
                    <a href="/api/delete/{{user.ya_uid}}">YA (отвязать)</a>
                    {{/if}}
                    {{#if user.google_uid}}
                    <a href="/api/delete/{{user.google_uid}}">GOOGLE (отвязать)</a>
                    {{/if}}
                {{/if}}   
            </div>
        </div>
        {{/if}}
    </div>
</div>